/*
 
    Init needs to be inclided first since it provides variables
    for the rest of the partial files imported after it.

    After Init the oder does not matter.

*/
@font-face {
  font-family: 'Serif';
  src: url(../fonts/BlackerText-Light.otf) format("opentype");
}

@font-face {
  font-family: 'Sans Serif';
  src: url(../fonts/Gilroy-Light.otf) format("opentype");
}

:root {
  font-family: 'Serif', Fallback, serif;
  font-size: 16px;
  --text-base-size: 1rem;
  --scale: 1.25;
  --flex-flow: row wrap;
  --small-text: calc(var(--text-base-size) / var(--scale));
  --text-h5-size: calc(var(--text-base-size) * var(--scale));
  --text-h4-size: calc(var(--text-h5-size) * var(--scale));
  --text-h3-size: calc(var(--text-h4-size) * var(--scale));
  --text-h2-size: calc(var(--text-h3-size) * var(--scale));
  --text-h1-size: calc(var(--text-h2-size) * var(--scale));
  height: 100%;
}

body {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* Mobile First */
@media only screen {
  :root {
    font-size: calc(16px * .8);
    --scale: 1.25;
    --flex-flow: row wrap;
  }
}

/* Desktop and Tablet screen size */
@media only screen and (min-width: 767px), (min-width: 1000px) {
  :root {
    font-size: 16px;
    --scale: 1.414;
    --flex-flow: row nowrap;
  }
}

header.swagoo-header {
  padding: 8rem;
  margin: 0;
  background-color: #d66430;
}

header.swagoo-header div.swagoo-header-title {
  color: #fefdfd;
  margin: 0 0 1rem 0;
}

header.swagoo-header div.swagoo-header-subtitle {
  color: #e6d2c9;
}

h1, h2, header.swagoo-header div.swagoo-header-title, h3, div.swagoo-board div.swagoo-board-title, h4, h5, header.swagoo-header div.swagoo-header-subtitle, div.swagoo-card div.swagoo-card-header, div.swagoo-board div.swagoo-board-subtitle, p {
  font-family: 'Sans Serif', Fallback, sans-serif;
}

h1, h2, header.swagoo-header div.swagoo-header-title, h3, div.swagoo-board div.swagoo-board-title, h4 {
  font-weight: bold;
}

p {
  line-height: 1.5rem;
}

h5, header.swagoo-header div.swagoo-header-subtitle, div.swagoo-card div.swagoo-card-header, div.swagoo-board div.swagoo-board-subtitle, p {
  font-weight: 400;
}

h1 {
  font-size: var(--text-h1-size);
}

h2, header.swagoo-header div.swagoo-header-title {
  font-size: var(--text-h2-size);
}

h3, div.swagoo-board div.swagoo-board-title {
  font-size: var(--text-h3-size);
}

h4 {
  font-size: var(--text-h4-size);
}

h5, header.swagoo-header div.swagoo-header-subtitle, div.swagoo-card div.swagoo-card-header, div.swagoo-board div.swagoo-board-subtitle {
  font-size: var(--text-h5-size);
}

/* 
    Credit: Checkbox as an image idea got from this post: https://stackoverflow.com/questions/3772273/pure-css-checkbox-image-replacement
    Credit: Checkbox toggling content based on its state got from this post: https://codepen.io/anon/pen/eaYrEb 
*/
/* Mobile First */
@media only screen {
  nav.swagoo-nav {
    border: none;
    background-color: #40281e;
  }
  nav.swagoo-nav ul.swagoo-link-group {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  nav.swagoo-nav li.swagoo-link a {
    display: block;
    color: #fefdfd;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
  }
  nav.swagoo-nav li.swagoo-link.active a {
    display: block;
    color: #fefdfd;
    font-weight: bold;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    background-color: #78878e;
  }
  nav.swagoo-nav li.swagoo-link a:hover {
    background-color: #838383;
  }
  nav.swagoo-nav input[type=checkbox] {
    display: none;
  }
  nav.swagoo-nav input[type=checkbox] + label.swagoo-burger,
  nav.swagoo-nav input[type=checkbox]:checked + label.swagoo-burger {
    cursor: pointer;
    display: inline-block;
    padding: 0 .7rem;
  }
  nav.swagoo-nav input[type=checkbox] + label.swagoo-burger:before {
    content: '\00d7';
    color: #fefdfd;
    font-size: 2.5rem;
  }
  nav.swagoo-nav input[type=checkbox]:checked + label.swagoo-burger:before {
    content: '\2630';
    color: #fefdfd;
    font-size: 2.2rem;
  }
  nav.swagoo-nav input[type=checkbox]:checked ~ ul.swagoo-link-group {
    display: none;
  }
}

/* Desktop and Tablet screen size */
@media only screen and (min-width: 767px), (min-width: 1000px) {
  nav.swagoo-nav {
    border-bottom: 2px solid #78878e;
    background-color: #40281e;
  }
  nav.swagoo-nav ul.swagoo-link-group {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  nav.swagoo-nav li.swagoo-link {
    float: left;
    width: 7rem;
  }
  nav.swagoo-nav li.swagoo-link a {
    display: block;
    color: #fefdfd;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
  }
  nav.swagoo-nav li.swagoo-link.active a {
    display: block;
    color: #fefdfd;
    font-weight: bold;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    background-color: #78878e;
  }
  nav.swagoo-nav li.swagoo-link a:hover {
    background-color: #838383;
  }
  nav.swagoo-nav input[type=checkbox],
  nav.swagoo-nav input[type=checkbox] + label.swagoo-burger,
  nav.swagoo-nav input[type=checkbox]:checked + label.swagoo-burger {
    display: none;
  }
  nav.swagoo-nav input[type=checkbox]:checked ~ ul.swagoo-link-group {
    display: block;
  }
}

.btn, a.swagoo-btn, button.swagoo-btn,
input.swagoo-btn[type="button"],
input.swagoo-btn[type="submit"],
input.swagoo-btn[type="reset"] {
  border-radius: 8px;
  background-color: #d66430;
  color: #fefdfd;
  border: 1px solid;
  font-size: var(--text-base-size);
  font-family: 'Serif', Fallback, serif;
  padding: .5rem 1.5rem;
  cursor: pointer;
}

.btn:hover, a.swagoo-btn:hover, button.swagoo-btn:hover,
input.swagoo-btn:hover[type="button"],
input.swagoo-btn:hover[type="submit"],
input.swagoo-btn:hover[type="reset"] {
  background-color: #419bc5;
}

a.swagoo-btn {
  display: inline-block;
}

a.swagoo-btn:link, a.swagoo-btn:visited, a.swagoo-btn:hover, a.swagoo-btn:active {
  text-decoration: none;
}

input[type="color"].swagoo-txt,
input[type="date"].swagoo-txt,
input[type="datetime-local"].swagoo-txt,
input[type="email"].swagoo-txt,
input[type="hidden"].swagoo-txt,
input[type="month"].swagoo-txt,
input[type="number"].swagoo-txt,
input[type="password"].swagoo-txt,
input[type="tel"].swagoo-txt,
input[type="text"].swagoo-txt,
input[type="time"].swagoo-txt,
input[type="url"].swagoo-txt,
input[type="week"].swagoo-txt {
  font-family: 'Sans Serif';
  border-radius: 8px;
  width: 100%;
  background-color: #e6d2c9;
  border: 1px solid #838383;
  height: 1.5rem;
}

textarea.swagoo-txt {
  font-family: 'Sans Serif';
  border-radius: 8px;
  width: 100%;
  background-color: #e6d2c9;
  border: 1px solid #838383;
}

label {
  font-family: 'Sans Serif';
  margin-right: .5rem;
}

img.swagoo-img {
  border-radius: 8px;
}

img.swagoo-img.small {
  width: 15rem;
}

img.swagoo-img.medium {
  width: 20rem;
}

img.swagoo-img.large {
  width: 25rem;
}

img.swagoo-img-thumbnail {
  border: 1px solid #e6d2c9;
  border-radius: 8px;
  padding: .3rem;
  width: 10rem;
}

figure {
  margin: 3rem 0;
}

.row {
  width: 100%;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: var(--flex-flow);
          flex-flow: var(--flex-flow);
  --columns: 12;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* Mobile first */
@media only screen {
  .col-1-1,
  .col-1-2,
  .col-1-3,
  .col-2-3,
  .col-1-4,
  .col-3-4,
  .col-1-5,
  .col-4-5,
  .col-1-6,
  .col-5-6 {
    --width: 12;
    padding: .7rem;
    -ms-flex-preferred-size: calc(var(--width, 0) / var(--columns, 12) * 100%);
        flex-basis: calc(var(--width, 0) / var(--columns, 12) * 100%);
  }
  .col-1-1.bordered,
  .col-1-2.bordered,
  .col-1-3.bordered,
  .col-2-3.bordered,
  .col-1-4.bordered,
  .col-3-4.bordered,
  .col-1-5.bordered,
  .col-4-5.bordered,
  .col-1-6.bordered,
  .col-5-6.bordered {
    border: 1px solid #e6d2c9;
  }
  .col-1-1.centered,
  .col-1-2.centered,
  .col-1-3.centered,
  .col-2-3.centered,
  .col-1-4.centered,
  .col-3-4.centered,
  .col-1-5.centered,
  .col-4-5.centered,
  .col-1-6.centered,
  .col-5-6.centered {
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

/* Tablet screen sizes */
@media only screen and (min-width: 767px) {
  .col-5-6,
  .col-4-5,
  .col-1-5,
  .col-3-4,
  .col-1-4,
  .col-1-3,
  .col-2-3,
  .col-1-1,
  .col-1-2,
  .col-1-6 {
    --width: 12;
  }
  :root {
    --flex-flow: row wrap;
  }
}

/* Desktop screen sizes */
@media only screen and (min-width: 1000px) {
  .col-1-1 {
    --width: 12;
  }
  .col-1-2 {
    --width: 6;
  }
  .col-1-3 {
    --width: 4;
  }
  .col-2-3 {
    --width: 8;
  }
  .col-1-4 {
    --width: 3;
  }
  .col-3-4 {
    --width: 9;
  }
  .col-1-5 {
    --width: 2.4;
  }
  .col-4-5 {
    --width: 9.6;
  }
  .col-1-6 {
    --width: 2;
  }
  .col-5-6 {
    --width: 10;
  }
  :root {
    --flex-flow: row nowrap;
  }
}

div.swagoo-card {
  background-color: rgba(176, 114, 86, 0.1);
  border-radius: 8px;
}

div.swagoo-card div.swagoo-card-header {
  padding: 1rem;
  text-transform: uppercase;
  color: #40281e;
  text-align: center;
}

div.swagoo-card div.swagoo-card-body {
  padding: 1rem;
  color: #40281e;
  background-color: #fefdfd;
  font-family: 'Serif', Fallback, serif;
  text-align: center;
}

div.swagoo-card div.swagoo-card-body.rounded {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

div.swagoo-card div.swagoo-card-footer {
  padding: 1rem;
  text-align: center;
}

.swagoo-snippet {
  padding: .5rem;
  border-radius: 8px;
  background-color: #838383;
}

code {
  color: #fefdfd;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

pre.small-text {
  font-size: var(--small-text);
}

div.swagoo-board {
  border-radius: 8px;
  background-color: rgba(176, 114, 86, 0.1);
  padding: 1rem;
}

div.swagoo-board div.swagoo-board-title {
  text-transform: uppercase;
  color: #40281e;
  text-align: center;
}

div.swagoo-board div.swagoo-board-subtitle {
  margin: 1.5rem;
  color: #40281e;
  font-family: 'Serif', Fallback, serif;
}

div.swagoo-board div.swagoo-board-subtitle.rounded {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

div.swagoo-board div.swagoo-board-action {
  border-top: 1px dotted #838383;
  padding-top: 1rem;
}

hr {
  height: .1rem;
  border: none;
  margin: .7rem 0;
  color: #e6d2c9;
  background-color: #e6d2c9;
}

div.swagoo-container {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  width: 80%;
  margin: 0 auto 3rem;
  padding: auto;
}

/* Mobile first */
@media only screen {
  .swagoo-show-inline-on-desktop,
  .swagoo-show-block-on-desktop,
  .swagoo-show-inline-block-on-desktop,
  .swagoo-show-inline-on-tablet,
  .swagoo-show-block-on-tablet,
  .swagoo-show-inline-block-on-tablet {
    display: none;
  }
  .swagoo-show-inline-on-mobile {
    display: inline;
  }
  .swagoo-show-block-on-mobile {
    display: block;
  }
  .swagoo-show-inline-block-on-mobile {
    display: inline-block;
  }
}

/* Tablet screen sizes */
@media only screen and (min-width: 767px) {
  .swagoo-show-inline-on-desktop,
  .swagoo-show-block-on-desktop,
  .swagoo-show-inline-block-on-desktop,
  .swagoo-show-inline-on-mobile,
  .swagoo-show-block-on-mobile,
  .swagoo-show-inline-block-on-mobile {
    display: none;
  }
  .swagoo-show-inline-on-tablet {
    display: inline;
  }
  .swagoo-show-block-on-tablet {
    display: block;
  }
  .swagoo-show-inline-block-on-tablet {
    display: inline-block;
  }
}

/* Desktop screen sizes */
@media only screen and (min-width: 1000px) {
  .swagoo-show-inline-on-tablet,
  .swagoo-show-block-on-tablet,
  .swagoo-show-inline-block-on-tablet,
  .swagoo-show-inline-on-mobile,
  .swagoo-show-block-on-mobile,
  .swagoo-show-inline-block-on-mobile {
    display: none;
  }
  .swagoo-show-inline-on-desktop {
    display: inline;
  }
  .swagoo-show-block-on-desktop {
    display: block;
  }
  .swagoo-show-inline-block-on-desktop {
    display: inline-block;
  }
}

footer.swagoo-footer {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-color: #40281e;
  color: #fefdfd;
  padding: 3rem;
  text-align: center;
}
/*# sourceMappingURL=site.css.map */