@font-face {
  font-family: 'Serif';
  src: url(../fonts/BlackerText-Light.otf) format("opentype");
}

@font-face {
  font-family: 'Sans Serif';
  src: url(../fonts/Gilroy-Light.otf) format("opentype");
}

:root {
  font-family: 'Serif', Fallback, serif;
  --text-base-size: 1rem;
  --scale: 1.414;
  --flex-flow: row nowrap;
  --text-h5-size: calc(var(--text-base-size) * var(--scale));
  --text-h4-size: calc(var(--text-h5-size) * var(--scale));
  --text-h3-size: calc(var(--text-h4-size) * var(--scale));
  --text-h2-size: calc(var(--text-h3-size) * var(--scale));
  --text-h1-size: calc(var(--text-h2-size) * var(--scale));
}

@media only screen and (max-width: 500px) {
  :root {
    --scale: 1.25;
    --flex-flow: row wrap;
  }
}

header.swagoo-header {
  padding: 8rem;
  margin: 0;
  background-color: #3b7dc4;
}

header.swagoo-header div.swagoo-header-title {
  color: #f9fafb;
  margin: 0 0 1rem 0;
}

header.swagoo-header div.swagoo-header-subtitle {
  color: #cbd3dd;
}

h1, h2, header.swagoo-header div.swagoo-header-title, h3, div.swagoo-board div.swagoo-board-title, h4, h5, header.swagoo-header div.swagoo-header-subtitle, div.swagoo-card div.swagoo-card-header, div.swagoo-board div.swagoo-board-subtitle, p {
  font-family: 'Sans Serif', Fallback, sans-serif;
}

h1, h2, header.swagoo-header div.swagoo-header-title, h3, div.swagoo-board div.swagoo-board-title, h4 {
  font-weight: bold;
}

p {
  line-height: 1.5rem;
}

h5, header.swagoo-header div.swagoo-header-subtitle, div.swagoo-card div.swagoo-card-header, div.swagoo-board div.swagoo-board-subtitle, p {
  font-weight: 400;
}

h1 {
  font-size: var(--text-h1-size);
}

h2, header.swagoo-header div.swagoo-header-title {
  font-size: var(--text-h2-size);
}

h3, div.swagoo-board div.swagoo-board-title {
  font-size: var(--text-h3-size);
}

h4 {
  font-size: var(--text-h4-size);
}

h5, header.swagoo-header div.swagoo-header-subtitle, div.swagoo-card div.swagoo-card-header, div.swagoo-board div.swagoo-board-subtitle {
  font-size: var(--text-h5-size);
}

/* 
    Credit: Checkbox as an image idea got from this post: https://stackoverflow.com/questions/3772273/pure-css-checkbox-image-replacement
    Credit: Checkbox toggling content based on its state got from this post: https://codepen.io/anon/pen/eaYrEb 
*/
/* Mobile/Tablet First */
nav.swagoo-nav {
  border: none;
  background-color: #222b34;
}

nav.swagoo-nav ul.swagoo-link-group {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav.swagoo-nav li.swagoo-link a {
  display: block;
  color: #f9fafb;
  text-align: center;
  padding: 1rem;
  text-decoration: none;
}

nav.swagoo-nav li.swagoo-link.active a {
  display: block;
  color: #f9fafb;
  font-weight: bold;
  text-align: center;
  padding: 1rem;
  text-decoration: none;
  background-color: #a5815a;
}

nav.swagoo-nav li.swagoo-link a:hover {
  background-color: gray;
}

nav.swagoo-nav input[type=checkbox] {
  display: none;
}

nav.swagoo-nav input[type=checkbox] + label.swagoo-burger,
nav.swagoo-nav input[type=checkbox]:checked + label.swagoo-burger {
  cursor: pointer;
  display: inline-block;
  padding: 0 10px;
}

nav.swagoo-nav input[type=checkbox] + label.swagoo-burger:before {
  content: '\00d7';
  color: #f9fafb;
  font-size: 40px;
}

nav.swagoo-nav input[type=checkbox]:checked + label.swagoo-burger:before {
  content: '\2630';
  color: #f9fafb;
  font-size: 35px;
}

nav.swagoo-nav input[type=checkbox]:checked ~ ul.swagoo-link-group {
  display: none;
}

/* Desktop screen size - grid system */
@media screen and (min-width: 900px) {
  nav.swagoo-nav {
    border-bottom: 2px solid #a5815a;
    background-color: #222b34;
  }
  nav.swagoo-nav ul.swagoo-link-group {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  nav.swagoo-nav li.swagoo-link {
    float: left;
    width: 7rem;
  }
  nav.swagoo-nav li.swagoo-link a {
    display: block;
    color: #f9fafb;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
  }
  nav.swagoo-nav li.swagoo-link.active a {
    display: block;
    color: #f9fafb;
    font-weight: bold;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    background-color: #a5815a;
  }
  nav.swagoo-nav li.swagoo-link a:hover {
    background-color: gray;
  }
  nav.swagoo-nav input[type=checkbox],
  nav.swagoo-nav input[type=checkbox] + label.swagoo-burger,
  nav.swagoo-nav input[type=checkbox]:checked + label.swagoo-burger {
    display: none;
  }
  nav.swagoo-nav input[type=checkbox]:checked ~ ul.swagoo-link-group {
    display: block;
  }
}

.btn, a.swagoo-btn, button.swagoo-btn,
input.swagoo-btn[type="button"],
input.swagoo-btn[type="submit"],
input.swagoo-btn[type="reset"] {
  border-radius: .5rem;
  background-color: #3b7dc4;
  color: #f9fafb;
  border: 1px solid;
  font-size: var(--text-base-size);
  font-family: 'Serif', Fallback, serif;
  padding: .5rem 1.5rem;
  cursor: pointer;
}

.btn:hover, a.swagoo-btn:hover, button.swagoo-btn:hover,
input.swagoo-btn:hover[type="button"],
input.swagoo-btn:hover[type="submit"],
input.swagoo-btn:hover[type="reset"] {
  background-color: #e3831c;
}

a.swagoo-btn {
  display: inline-block;
}

a.swagoo-btn:link, a.swagoo-btn:visited, a.swagoo-btn:hover, a.swagoo-btn:active {
  text-decoration: none;
}

input[type="color"].swagoo-txt,
input[type="date"].swagoo-txt,
input[type="datetime-local"].swagoo-txt,
input[type="email"].swagoo-txt,
input[type="hidden"].swagoo-txt,
input[type="month"].swagoo-txt,
input[type="number"].swagoo-txt,
input[type="password"].swagoo-txt,
input[type="tel"].swagoo-txt,
input[type="text"].swagoo-txt,
input[type="time"].swagoo-txt,
input[type="url"].swagoo-txt,
input[type="week"].swagoo-txt {
  font-family: 'Sans Serif';
  background-color: #cbd3dd;
  border: 1px solid gray;
  border-radius: 4px;
  height: 1.5rem;
  width: 100%;
}

textarea.swagoo-txt {
  font-family: 'Sans Serif';
  border-radius: 4px;
  width: 100%;
  background-color: #cbd3dd;
  border: 1px solid gray;
}

label {
  font-family: 'Sans Serif';
  margin-right: 10px;
}

img.swagoo-img {
  border-radius: 8px;
}

img.swagoo-img-thumbnail {
  border: 1px solid #cbd3dd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}

.row {
  width: 100%;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: var(--flex-flow);
          flex-flow: var(--flex-flow);
  --columns: 12;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* Mobile first - grid system */
.col-1-1,
.col-1-2,
.col-1-3,
.col-2-3,
.col-1-4,
.col-3-4,
.col-1-5,
.col-4-5,
.col-1-6,
.col-5-6 {
  --width: 12;
  padding: 10px;
  -ms-flex-preferred-size: calc(var(--width, 0) / var(--columns, 12) * 100%);
      flex-basis: calc(var(--width, 0) / var(--columns, 12) * 100%);
}

.col-1-1.bordered,
.col-1-2.bordered,
.col-1-3.bordered,
.col-2-3.bordered,
.col-1-4.bordered,
.col-3-4.bordered,
.col-1-5.bordered,
.col-4-5.bordered,
.col-1-6.bordered,
.col-5-6.bordered {
  border: 1px solid #cbd3dd;
}

.col-1-1.centered,
.col-1-2.centered,
.col-1-3.centered,
.col-2-3.centered,
.col-1-4.centered,
.col-3-4.centered,
.col-1-5.centered,
.col-4-5.centered,
.col-1-6.centered,
.col-5-6.centered {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* Tablet screen sizes - grid system */
@media screen and (min-width: 500px) and (max-width: 900px) {
  .col-5-6,
  .col-4-5,
  .col-1-5,
  .col-3-4,
  .col-1-4,
  .col-1-3,
  .col-2-3,
  .col-1-1,
  .col-1-2,
  .col-1-6 {
    --width: 12;
  }
  :root {
    --flex-flow: row wrap;
  }
}

/* Desktop screen sizes - grid system */
@media only screen and (min-width: 900px) {
  .col-1-1 {
    --width: 12;
  }
  .col-1-2 {
    --width: 6;
  }
  .col-1-3 {
    --width: 4;
  }
  .col-2-3 {
    --width: 8;
  }
  .col-1-4 {
    --width: 3;
  }
  .col-3-4 {
    --width: 9;
  }
  .col-1-5 {
    --width: 2.4;
  }
  .col-4-5 {
    --width: 9.6;
  }
  .col-1-6 {
    --width: 2;
  }
  .col-5-6 {
    --width: 10;
  }
  :root {
    --flex-flow: row nowrap;
  }
}

div.swagoo-card {
  background-color: rgba(101, 127, 154, 0.1);
  border-radius: .5rem;
}

div.swagoo-card div.swagoo-card-header {
  padding: 10px;
  text-transform: uppercase;
  color: #222b34;
  text-align: center;
}

div.swagoo-card div.swagoo-card-body {
  padding: 10px;
  color: #222b34;
  background-color: #f9fafb;
  font-family: 'Serif', Fallback, serif;
  text-align: center;
}

div.swagoo-card div.swagoo-card-body.rounded {
  border-bottom-left-radius: .5rem;
  border-bottom-right-radius: .5rem;
}

div.swagoo-card div.swagoo-card-footer {
  padding: 20px;
  text-align: center;
}

code {
  color: #f9fafb;
}

.swagoo-snippet {
  padding: 10px;
  border-radius: 5px;
  background-color: gray;
}

div.swagoo-table table th, div.swagoo-table table td {
  padding: 10px;
  border: 1px solid black;
}

div.swagoo-table table thead {
  background-color: #7ca4cf;
  color: #f9fafb;
}

div.swagoo-table table tbody {
  background-color: rgba(203, 211, 221, 0.3);
  color: #222b34;
}

div.swagoo-table table tfoot {
  background-color: rgba(101, 127, 154, 0.3);
  color: #2b2b2b;
}

div.swagoo-board {
  background-color: rgba(101, 127, 154, 0.1);
  padding: 1rem;
}

div.swagoo-board div.swagoo-board-title {
  text-transform: uppercase;
  color: #222b34;
  text-align: center;
}

div.swagoo-board div.swagoo-board-subtitle {
  margin: 20px;
  color: #222b34;
  font-family: 'Serif', Fallback, serif;
}

div.swagoo-board div.swagoo-board-action {
  border-top: 1px dotted gray;
  padding-top: 1rem;
}

hr {
  height: 1px;
  border: none;
  margin: 10px 0;
  color: #cbd3dd;
  background-color: #cbd3dd;
}

div.swagoo-container {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  width: 80%;
  margin: 0 auto 3rem;
  padding: auto;
}

html, body {
  height: 100%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer.swagoo-footer {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-color: #222b34;
  color: #f9fafb;
  padding: 3rem;
  text-align: center;
}
/*# sourceMappingURL=swagoo-theme.css.map */