.swagoo-snippet {
    padding: 10px;
    border-radius: 5px;
    background-color: $neutral-gray;
}

code {
    color: $white;
}

/* Mobile/Tablet First */
@media only screen, (min-width: $tablet-size) {
    pre {
        white-space: pre-wrap;
        word-wrap: break-word;
        text-align: center;
    }
}

/* Desktop screen size */
@media only screen and (min-width: $desktop-size) {
    pre {
        white-space: pre-wrap;
        word-wrap: break-word;
        text-align: justify;
    }
}

