.swagoo-snippet {
    padding: .5rem;
    border-radius: $border-radius;
    background-color: $neutral-gray;
}

code {
    color: $white;
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    
    &.small-text {
        font-size: var(--small-text);
    }
}

