// Credit: Got my idea from https://www.arclab.com/en/kb/htmlcss/how-to-cross-browser-style-hr-horizontal-rule-line-using-css.html
hr {
    height: .1rem;
    border: none;
    margin: .7rem 0;
    color: $primary-neutral-light; 
    background-color: $primary-neutral-light;
}