img.swagoo-img {
    border-radius: $border-radius;
}

img.swagoo-img-thumbnail {
    border: 1px solid $primary-neutral-light;
    border-radius: $border-radius;
    padding: .3rem;
    width: 10rem;
}

figure {
    margin: 3rem 0;
}