img.swagoo-img {
    border-radius: $border-radius;

    &.small {
        width: 15rem;
    }

    &.medium {
        width: 20rem;
    }

    &.large {
        width: 25rem;
    }
}

img.swagoo-img-thumbnail {
    border: 1px solid $primary-neutral-light;
    border-radius: $border-radius;
    padding: .3rem;
    width: 10rem;
}

figure {
    margin: 3rem 0;
}