@import "./layouts";
@import "./fonts";
@import "./colors";

:root {
    font-family: 'Serif', Fallback, serif;
    font-size: 16px;

    --text-base-size: #{$base-size};
    --scale: #{$small-device-font-size};
    --flex-flow: #{$flex-wrap};
    
    --text-h5-size: calc(var(--text-base-size) * var(--scale));
    --text-h4-size: calc(var(--text-h5-size) * var(--scale));
    --text-h3-size: calc(var(--text-h4-size) * var(--scale));
    --text-h2-size: calc(var(--text-h3-size) * var(--scale));
    --text-h1-size: calc(var(--text-h2-size) * var(--scale));
}

/* Mobile First */
@media only screen  {
    :root {
        font-size: 13px;

        --scale: #{$small-device-font-size};
        --flex-flow: #{$flex-wrap};
    }
}


/* Desktop and Tablet screen size */
@media only screen and (min-width: $tablet-size) , (min-width: $desktop-size) {
    :root {
        font-size: 16px;

        --scale: #{$large-device-font-size};
        --flex-flow: #{$flex-no-wrap};
    }
}