$tablet-size: 767px !default;
$desktop-size: 1000px !default;
$large-device-font-size: 1.414 !default; // Augmented Fourth
$small-device-font-size: 1.250 !default; // Major Third
$serif-font-file: url(../fonts/BlackerText-Light.otf) !default;
$sans-serif-file: url(../fonts/Gilroy-Light.otf) !default;
$root-element-font-size: 16px !default;
$flex-no-wrap: row nowrap;
$flex-wrap:  row wrap;
$base-size: 1rem;
$border-radius: 8px;