/* 
    Credit: Checkbox as an image idea got from this post: https://stackoverflow.com/questions/3772273/pure-css-checkbox-image-replacement
    Credit: Checkbox toggling content based on its state got from this post: https://codepen.io/anon/pen/eaYrEb 
*/

/* Mobile First */
@media only screen  {
    nav.swagoo-nav {
        
        border: none ;
        background-color: $primary-neutral-dark;

        ul.swagoo-link-group {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }
        
        li.swagoo-link a {
            display: block;
            color: $white;
            text-align: center;
            padding: 1rem;
            text-decoration: none;
        }

        li.swagoo-link.active a {
            display: block;
            color: $white;
            font-weight: bold;
            text-align: center;
            padding: 1rem;
            text-decoration: none;
            background-color: $complementary-gray;
        }
        
        li.swagoo-link a:hover {
            background-color: $neutral-gray;
        }

        input[type=checkbox] {
            display:none;
        }
            
        input[type=checkbox] + label.swagoo-burger,
        input[type=checkbox]:checked + label.swagoo-burger
        {
            cursor: pointer;
            display: inline-block;
            padding: 0 .7rem;
        }

        input[type=checkbox] + label.swagoo-burger:before {
            content: '\00d7';
            color: $white;
            font-size: 2.5rem;
        }

        input[type=checkbox]:checked + label.swagoo-burger:before {
            content: '\2630';
            color: $white;
            font-size: 2.2rem;
        }

        input[type=checkbox]:checked ~ ul.swagoo-link-group {
            display: none;
        }
    }
}

/* Desktop and Tablet screen size */
@media only screen and (min-width: $tablet-size) , (min-width: $desktop-size) {
    
    nav.swagoo-nav {
    
        border-bottom: 2px solid $complementary-gray;
        background-color: $primary-neutral-dark;

        ul.swagoo-link-group {
            display: block;
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }
          
        li.swagoo-link {
            float: left;
            width: 7rem;
        }
        
        li.swagoo-link a {
            display: block;
            color: $white;
            text-align: center;
            padding: 1rem;
            text-decoration: none;
        }
    
        li.swagoo-link.active a {
            display: block;
            color: $white;
            font-weight: bold;
            text-align: center;
            padding: 1rem;
            text-decoration: none;
            background-color: $complementary-gray;
        }
        
        li.swagoo-link a:hover {
            background-color: $neutral-gray;
        }
    
        input[type=checkbox],
        input[type=checkbox] + label.swagoo-burger,
        input[type=checkbox]:checked + label.swagoo-burger
        {
            display: none;
        }

        input[type=checkbox]:checked ~ ul.swagoo-link-group {
            display: block;
        }
    }
}
    
