div.swagoo-table {

    table {

        th, td {
            padding: 10px;
            border: 1px solid black;
        }
        
        thead {
            background-color: $primary-light;
            color: $white;
        }

        tbody {
            background-color: rgba($primary-neutral-light, 0.3);
            color: $primary-neutral-dark;
        }

        tfoot {
            background-color: rgba($primary-neutral, 0.3);
            color: $black;
        }

    }   
}